<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Favicons -->
    <link rel="shortcut icon" href="#">
    <!-- Page Title -->
    <title>Portfólio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="css/set1.css">
    <!-- Swipper Slider -->
    <link rel="stylesheet" href="css/swiper.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!--============================= HEADER =============================-->
    <div class="dark-bg sticky-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/">Portal Música</a>
                        <% if(typeof usuarioLogado !== 'undefined' && usuarioLogado.length > 0) { %>
                            <% if(usuarioLogado[0].tipo[0].idTpUsuario == 2 || usuarioLogado[0].tipo[0].idTpUsuario == 3 || usuarioLogado[0].tipo[0].idTpUsuario == 4) {%>
                            <input type="hidden" id="usr" value="<%=usuarioLogado[0]._id%>" />
                            <a href="./carteira" style="display: inline;text-decoration:none">
                                <img src="images/carteira3.png"  width="60" height="40" class="img-fluid" alt="img13" />
                            </a>
                            <a href="./carteira" style="display: inline;text-decoration:none">
                                <span id='carteiraDisplay' style="color:#d9d9d9;"></span>
                            </a>
                        <%} }%>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" 	aria-label="Toggle navigation">
                            <span class="icon-menu"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <% if(usuarioLogado) { %>
                                    <% if(usuarioLogado[0].tipo[0].idTpUsuario == 2 || usuarioLogado[0].tipo[0].idTpUsuario == 3 || usuarioLogado[0].tipo[0].idTpUsuario == 4) {%>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="cadastro-estudio">Cadastrar Estúdio</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="cadastro-sala">Cadastrar Sala</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="agenda">Agenda</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="portfolio?id_prestador=<%=usuarioLogado[0]._id%>&flag=1">Gerenciar Portfólio</a>
                                        </li>
                                        <li>
                                            <a href="logoff" id='btLogoff' class="nav-link btn btn-outline-light top-btn"> Logoff</a>
                                        </li>
                                    <%} else {%>
                                        <li class="nav-item">
                                            <a class="nav-link" href="agenda">Agenda</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="portfolio?id_prestador=<%=usuarioLogado[0]._id%>">Gerenciar Portfólio</a>
                                        </li>
                                        <li>
                                            <a href="logoff" id='btLogoff' class="nav-link btn btn-outline-light top-btn"> Logoff</a>
                                        </li>
                                    <%} %>
                                <% } else { %>
                                    <li><!-- data-toggle="modal" data-target="#cadastro-modal" -->
                                        <a href="/" id='btCadastroUser' class="btn btn-outline-light top-btn" data-toggle="modal" > Novo Usuário</a>
                                    </li>
                                    <li>
                                        <a href="/" id='btLogin' class="btn btn-outline-light top-btn" data-toggle="modal" data-target="#login-modal"> Login</a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--//END HEADER -->
    <!--============================= BOOKING =============================-->
    <div>
        <!-- Swiper -->
        <!--<div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <a href="images/reserve-slide2.jpg" class="grid image-link">
                        <img src="images/reserve-slide2.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide1.jpg" class="grid image-link">
                        <img src="images/reserve-slide1.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide3.jpg" class="grid image-link">
                        <img src="images/reserve-slide3.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide1.jpg" class="grid image-link">
                        <img src="images/reserve-slide1.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide2.jpg" class="grid image-link">
                        <img src="images/reserve-slide2.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide3.jpg" class="grid image-link">
                        <img src="images/reserve-slide3.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <!--<div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <!--<div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>-->

    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->
        <section class="reserve-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5><!--< %= usuario.nome% >--></h5><br/>
                        <p class="reserve-description"><!--< %=usuario.results[0].desc % > --></p>
                        <h5>Portfólio</h5><br>
                        <p class="reserve-description">Um resumo das infomações do estúdio ou prestador de serviço!</p>
                    </div>
                    <div class="col-md-6">
                        <div class="reserve-seat-block">
                            <!--<div class="reserve-rating">
                                <span>9.5</span>
                            </div>-->
                            <div class="review-btn">
                                <!--<a href="#" class="btn btn-outline-danger">FAÇA UM COMENTÁRIO</a>
                                <span>34 reviews</span>-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//END RESERVE A SEAT -->
        <!--============================= BOOKING DETAILS =============================-->
        <section class="light-bg booking-details_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 responsive-wrap">
                        <div class="booking-checkbox_wrap">
                            <div class="booking-checkbox">
                                <% if(tp_user == 4){%>
                                    <h2><%=usuario[0].nomeEstudio%></h2>
                                <% }else{ %>
                                    <h2><%=usuario[0].nome%></h2>
                                <% } %>
                                <hr>
                                <p><%= usuario[0].descricao%></p>

                            </div>
                            <!-- <div class="row">
                                 <div class="col-md-4">
                                     <label class="custom-checkbox">
                             <span class="ti-check-box"></span>
                             <span class="custom-control-description">Bike Parking</span>
                           </label> </div>
                                 <div class="col-md-4">
                                     <label class="custom-checkbox">
                            <span class="ti-check-box"></span>
                            <span class="custom-control-description">Wireless Internet  </span>
                          </label>
                                 </div>
                                 <div class="col-md-4">
                                     <label class="custom-checkbox">
                          <span class="ti-check-box"></span>
                          <span class="custom-control-description">Smoking Allowed  </span>
                        </label> </div>
                                 <div class="col-md-4">
                                     <label class="custom-checkbox">
                         <span class="ti-check-box"></span>
                         <span class="custom-control-description">Street Parking</span>
                       </label>
                                 </div>
                                 <div class="col-md-4">
                                     <label class="custom-checkbox">
                        <span class="ti-check-box"></span>
                        <span class="custom-control-description">Special</span>
                      </label> </div>
                                 <div class="col-md-4">
                                     <label class="custom-checkbox">
                       <span class="ti-check-box"></span>
                       <span class="custom-control-description">Accepts Credit cards</span>
                     </label>
                                 </div>
                             </div>-->
                        </div>
                            <div class="booking-checkbox_wrap mt-4">
                                <% if(tp_user == 4){%>
                                <h4>Salas:</h4>
                                <hr>
                                <% for (var i = 0; i < usuario[0].salas.length; i++) { %>
                                    <div>
                                        <a class='linkDetalheSala' href='detalhe-sala?id_estudio=<%= usuario[0]._id %>&id_sala=<%= usuario[0].salas[i]._id %>'><%= usuario[0].salas[i].nomeSala %></a>
                                    </div>
                                <% } %>
                                <% }else{ %>
                                <h4>nao é estudio</h4>
                                <% } %>

                            </div>
                    </div>
                    <div class="col-md-4 responsive-wrap">
                        <div class="contact-info">
                            <!--<img src="images/map.jpg" class="img-fluid" alt="#">-->
                            <div class="address">
                                <span class="icon-location-pin"></span>
                                <p> <%= usuario[0].estado%><br> <%= usuario[0].cidade%><br> <%= usuario[0].bairro%><br></p>
                            </div>
                            <div class="address">
                                <span class="icon-screen-smartphone"></span>
                                <p><%= usuario[0].telefone%></p>
                            </div>
                            <div class="address">
                                <span class="icon-envelope"></span>
                                <p><%= usuario[0].email%></p>
                            </div>
                            <div class="address">
                                <!--<span class="icon-clock"></span>
                                <p>Mon - Sun 09:30 am - 05:30 pm <br>
                                    <span class="open-now">OPEN NOW</span>
                                </p>-->
                            </div>
                            <!--<a href="#" class="btn btn-outline-danger btn-contact">ENVIE UMA MENSAGEM</a>-->
                            <br>
                            <div class="reserve-btn">
                                <div class="featured-btn-wrap">
                                    <a href="#" class="btn btn-danger">Exibir fotos</a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="follow">
                            <div class="follow-img">

                                <h6>Christine Evans</h6>
                                <span>New York</span>
                            </div>
                            <ul class="social-counts">
                                <li>
                                    <h6>26</h6>
                                    <span>Listings</span>
                                </li>
                                <li>
                                    <h6>326</h6>
                                    <span>Followers</span>
                                </li>
                                <li>
                                    <h6>12</h6>
                                    <span>Followers</span>
                                </li>
                            </ul>
                            <a href="#">FOLLOW</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--//END BOOKING DETAILS -->
    <!--============================= FOOTER =============================-->
    <footer class="main-block dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy; 2018. All rights reserved</p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <ul>
                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                            <li><a href="#"><span class="ti-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//END FOOTER -->




    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Magnific popup JS -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- Swipper Slider JS -->
    <script src="js/swiper.min.js"></script>
    <script>
        $(document).ready(function() {

            var id_usuario = $("#usr").val();
            if (typeof(id_usuario) != 'undefined') {
                $.ajax({
                    url: "checarSaldo",
                    type: "post",
                    data: {id_usuario: id_usuario},
                    datatype: 'json',
                    success: function (result) {
                        $("#carteiraDisplay").html("R$" + result.creditos.toFixed(2));
                    },
                    error: function (data) {
                        alert("Erro ao consultar a carteira. ");
                    }
                });
            }
        });

        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
</body>

</html>
